*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header{
    padding-bottom: 85px;
}
.form{
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
}
.name{
    height: 45px;
    background-color: beige;
    padding: 15px;
    border-radius: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    color: #222;
}
.input{
    height: 45px;
    border: none;
    border-radius: 30px;
    margin: 5px;
    padding: 0 25px;
    display: flex;
    width: 100%;
    outline: none;
}
.btn{
    background-color: #222;
    border: none;
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: white;
    border-radius: 15px;
}
.msg{
    list-style: none;
    margin: 0;
    padding: 0;

}
.msg li {
    padding: 10px;
}
.mgs li span{
    font-weight: 500;
}
.msg li:nth-child(even) {background: #CCC}
.msg li:nth-child(odd) {background: #FFF}